@import "../styles/variables.scss";

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.main {
  margin: 4em calc(5%);
  @media screen and (max-width: $tablet) {
    margin: 2em 0;
  }
}

.footer {
  margin-top: auto;
}

.logo {
  height: 1em;
  margin: 0 0.5em;
}
