@import "../styles/variables.scss";

.navbar {
  background-color: $primary;
  font-size: larger;
  height: $navbarHeight;
  margin: 0;
  padding: 0 2em;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  @media screen and (max-width: $phone) {
    padding: 0 1em;
    position: relative;
  }
}
