@use "sass:math";
@import "../../styles/variables.scss";
$borderWidth: 2px;
$borderStyle: $borderWidth solid $grey-lighter;

.gridTemplate {
  display: grid;
  position: absolute;
  bottom: math.div(-$borderWidth, 2);
  left: math.div(-$borderWidth, 2);
  width: calc(100% + #{$borderWidth});
  height: calc(100% + #{$borderWidth});
  z-index: -1;
}

.grid {
  @extend .gridTemplate;

  border-bottom: $borderStyle;
  border-left: $borderStyle;

  div {
    margin-left: -1px;
    margin-bottom: -1px;
    border-top: $borderStyle;
    border-right: $borderStyle;
  }
}

.line {
  @extend .gridTemplate;

  border-left: $borderStyle;
  border-right: $borderStyle;

  div {
    height: 50%;
    margin: 0 -1px;
    border-bottom: $borderStyle;
  }
}
