@use "sass:math";
$borderWidth: 2px;
$grey400: #bdbdbd;
$borderStyle: $borderWidth solid $grey400; 

.gridTemplate {
  display: grid;
  position: absolute;
  bottom: math.div(-$borderWidth, 2);
  left: math.div(-$borderWidth, 2);
  width: 100%;
  height: 100%;
}

.grid {
  @extend .gridTemplate;

  border-bottom: $borderStyle;
  border-left: $borderStyle;

  div {
    margin-left: math.div(-$borderWidth, 2);
    margin-bottom: math.div(-$borderWidth, 2);
    border-top: $borderStyle;
    border-right: $borderStyle;
  }
}

.line {
  @extend .gridTemplate;

  border-left: $borderStyle;
  border-right: $borderStyle;
  width: calc(100% - $borderWidth);
  height: calc(100% + $borderWidth);

  div {
    height: 50%;
    margin-top: math.div(-$borderWidth, 2);
    border-bottom: $borderStyle;
  }
}
