@import "./templates.scss";

.barParagraph {
  // Don't grow elements in last line.
  &:after {
    @extend .colSizingTemplate;
    content: "";
    min-width: 160px;
    flex-grow: 1000;
  }
}

.barContainer {
  @extend .colSizingTemplate;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.firstBarContainer {
  @extend .barContainer;
  flex-direction: row;
}

.highlight:before {
  transform: none;
  position: absolute;
  content: "";
  top: -0.2em;
  bottom: -0.2em;
  left: -0.2em;
  right: -0.2em;
  border-radius: 0.2em;
  z-index: -2;
  background-color: $primary;
  opacity: 0.25;
}
