@import "./templates.scss";

.pattern {
  @extend .flexRowTemplate;

  font-size: $strumSize;
  position: relative;
  margin: 0.5em 0;
  line-height: 1.1em;
  height: 1.1em;

  > * {
    vertical-align: middle;
  }
}
