@import "../../styles/variables.scss";

$stringColor: $grey-light;
$stringWidth: 2px;
$strumSize: 1.25em;

.flexRow {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: auto;
  }
}

.barContainer {
  display: inline-flex;
  flex-direction: column;
  width: max-content;
}

.beatCount {
  @extend .flexRow;

  > * {
    @extend .chord;
  }
}

// Chord row.
.chord {
  color: $primary-dark;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  height: 1.3em;
  width: $strumSize / 1.1;

  sup {
    font-size: 70%;
    vertical-align: top;
  }
}

// The strumming pattern row.
.pattern {
  @extend .flexRow;

  $color: $black-bis;
  font-size: $strumSize;
  position: relative;
  margin: 0.1em 0;
  line-height: 1.1em;
  height: 1.1em;

  > * {
    vertical-align: middle;
  }

  > .barSeperator {
    flex: none;
    margin: 0 -$stringWidth / 2;
    background-color: $stringColor;
    display: inline-block;
    width: $stringWidth;
    height: 1.1em;
  }

  .tabLine {
    background-color: $stringColor;
    height: $stringWidth;
    width: calc(100% + #{$stringWidth});
    position: absolute;
    left: -$stringWidth / 2;
    z-index: -1;
  }

  .strum,
  svg {
    display: inline-block;
    position: relative;
    height: 1em;
    width: 1em;
  }
}

.stringLabel {
  display: inline-block;
  position: absolute;
  left: -0.5em;
  height: 1em;
  width: 0.5em;
  font-weight: bold;
}

.string {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 40%;
}

// Lyrics row.
.lyrics {
  padding: 0 0.2em;
  height: 2em;

  .left {
    float: left;
  }

  .right {
    float: right;
    margin-left: 1em;
  }

  .streched {
    // Justify content even thought it's just one line.
    text-align: justify;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }
}
