@import "../../styles/variables.scss";

$stringColor: $grey-lighter;
$stringWidth: 2px;
$strumSize: 1.25em;
$sixColWidth: 1400px;
$eightColWidth: 1760px;

.flexRowTemplate {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: auto;
  }
}

.colSizingTemplate {
  min-width: max-content;
  flex: 1 0 21%; // At most 4 columns.
  @media screen and (min-width: $sixColWidth) {
    flex: 1 0 15%; // At most 6 columns.
  }
  @media screen and (min-width: $eightColWidth) {
    flex: 1 0 12%; // At most 8 columns.
  }
}

.barParagraph {
  // Don't grow elements in last line.
  &:after {
    @extend .colSizingTemplate;
    content: "";
    min-width: 160px;
    flex-grow: 1000;
  }
}

.barContainer {
  @extend .colSizingTemplate;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.firstBarContainer {
  @extend .barContainer;
  flex-direction: row;
}

.beatCount {
  @extend .flexRowTemplate;

  > * {
    @extend .chord;
  }
}

.highlight:before {
  transform: none;
  position: absolute;
  content: "";
  top: -0.2em;
  bottom: -0.2em;
  left: -0.2em;
  right: -0.2em;
  border-radius: 0.2em;
  z-index: -2;
  background-color: $primary;
  opacity: 0.25;
}

// Chord row.
.chord {
  color: $primary-dark;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  height: 1.3em;
  width: $strumSize / 1.1;

  sup {
    font-size: 70%;
    vertical-align: top;
  }
}

// The strumming pattern row.
.pattern {
  @extend .flexRowTemplate;

  $color: $black-bis;
  font-size: $strumSize;
  position: relative;
  margin: 0.3em 0;
  line-height: 1.1em;
  height: 1.1em;

  > * {
    vertical-align: middle;
  }

  .tabLine {
    background-color: $stringColor;
    height: $stringWidth;
    width: calc(100% + #{$stringWidth});
    position: absolute;
    z-index: -1;
  }
}

// Strums
.strum {
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
  margin: auto;

  &.emStrum svg {
    transform: scale(1.25);
  }
}

.tabStrum {
  height: 100%;
}

.stringLabel {
  display: inline-block;
  position: absolute;
  left: -0.75em;
  height: 100%;
  width: 0.75em;
  font-weight: bold;
}

.string {
  position: absolute;
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 50%;
  font-weight: bold;
  font-family: Poppins;
}

// Lyrics row.
.lyrics {
  height: 2em;
  margin-top: auto;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .streched {
    // Justify content even thought it's just one line.
    text-align: justify;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }
}

.player {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin: -1em;
  width: calc(100% + 2em);
  z-index: 1000;
  padding: 0.5em 1em;
  background-color: white;
  text-align: center;

  * {
    vertical-align: middle;
  }
}

.tooltip {
  background-color: white;
  border-radius: 4px;
  max-width: 240px;
}
