@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

// Define colors.
$turquoise: #61dafb;

// Override Bulma's initial variables.
$family-sans-serif: "Lato", sans-serif;
$primary: $turquoise;

@import "../node_modules/bulma/sass/utilities/derived-variables.sass";

// Override Bulma's variables with derived values.
$link: $info;
$link-hover: $info-dark;

// Custom spacing
$navbarHeight: 52px;
$phone: 640px;
